#alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ddd;
    color: #333;
    padding: 5px;
    font-weight: bold;
    }

    #california-headlines,
      #virginia-headlines {
        display: none; /* Hide the headlines by default */
      }
  #california-news-list,
  #virginia-news-list {
    display: none; /* Hide the California news list by default */
    } 

/* CSS for the hoverable box */
.hover-box {
  /*display: ; /* Hide the box by default */
  position: absolute;
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  z-index: 2; /* Ensure the box appears above the map (which may have z-index: 1) */
  /* Position the box to the right of the map */
  top: 250px; /* Adjust the top position as needed */
  left: 1000px; /* Position it to the right of the map */
}

  
  
  /* CSS for the <ul> list inside the box */
  .hover-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for list items */
  .hover-box ul li {
    margin-bottom: 5px;
  }
  
  /* Style for list item links */
  .hover-box ul li a {
    text-decoration: none;
    color: #333;
  }